.row {
  display: flex;
  color: white;
}
/* Immanuel helped me figure out that I needed to put the background color and padding/margin in the column css because mine had no space in between at first */
.col, .col-2, .col-3 {
  background-color: teal;
  padding: 20px;
  margin: 10px;
  justify-content: space-between;
}
.col {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}