* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* images on side */
.leftColumn {
  position: fixed;
  width: 20%;
  border-right: solid black;
}

.rightColumn {
  position: fixed;
  right: 0;
  width: 20%;
  border-left: solid black;
}

.leftColumn > img, .rightColumn > img{
  width: 100%;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 60%;
  font-size: 1.5vw;
  position: fixed;
  left: 20%;
  top: 0%;
  color: black;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 100px;
}

.profilePic {
  display: flex;
  max-width: 25%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10%;
}

#aboutMe, #education, #techSkills, #projects {
  margin: auto;
  margin-top: 30px;
  width: 60%;
  text-align: center;
  border: solid black;
  padding: 30px;
}

#aboutMe {
  padding-left: 80px;
  padding-right: 80px;
}

.pi {
  width: 5%;
  min-width: 50px;
  animation: blink-animation 1s 
}

.clickMe {
  font-size: 80%;
}

.funFact {
  visibility: hidden;
}

#techSkills > ul {
  list-style-type: none;
  margin-top: 20px;
}

.projectbox {
  border: solid black;
  padding: 10px;
  margin-top: 20px;
}

.socMed {
  text-align: center;
  margin-top: 40px;
}

#socialMedia {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-around;
  margin-top: 0px;
  padding: 10px;
  margin-bottom: 100px;
}

.socMedBox {
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.socMedBox > img {
  width: 5vw;
  height: 5vw;
}

.socMedBox > a > img {
  width: 5vw;
  height: 5vw;
}

.socMedBox > img:hover, .socMedBox > a > img:hover {
  width: 6vw;
  height: 6vw;
}

.socMedBox > p {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
}